@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
  /* Colors */
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* screens */
  --m: 375px;
  --d: 1440px;

  /* font */
  --primary: 13px;

  /* font-family */
  --primary-font: 'https://fonts.google.com/specimen/Manrope';

  /* font-weight */
  --font-weight-primary: 500;
  --font-weight-bold: 700;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 90%;
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
}
.container {
  max-width: var(--d);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fff;
  width: 50em;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 1em 2em;
}
.card-bg {
  background-image: url('../assets//images/drawers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-heading {
  color: var(--dark-grayish-blue);
}
.card-text {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}
