:root {
  /* Colors */
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* screens */
  --m: 375px;
  --d: 1440px;

  /* font */
  --primary: 13px;

  /* font-family */
  --primary-font: 'https://fonts.google.com/specimen/Manrope';

  /* font-weight */
  --font-weight-primary: 500;
  --font-weight-bold: 700;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 90%;
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: var(--d);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: #fff;
  width: 50em;
  display: flex;
  justify-content: space-around;
}
.img {
  width: 100%;
}
