:root {
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGrayishRed: hsl(0, 6%, 24%);
    --gradientMain: linear-gradient(Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
    --gradientSecondary: linear-gradient(Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.hero {
    display: flex;
    min-height: 100vh;

}

.hero-content-container {
    max-width: 450px;
    margin: 0 auto;
}

.hero-content {
    background-image: url('./images/bg-pattern-desktop.svg');
    background-size: cover;
    background-position: center center;
    padding: 0 40px 40px;
    width: 60%;

}

.logo {
    margin: 3em 0;
}

.hero-content h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.1;
    font-size: 4em;
}

.hero-content span {
    color: var(--desaturatedRed);
    text-transform: uppercase;
    font-weight: 200;

}

.hero-content a {
    margin: 4em 0;
}

.hero-content p {
    margin: 1.5em 0;
    line-height: 1.5;
    color: var(--desaturatedRed);
}

form {
    position: relative;
}

.hero-content input {
    background-color: transparent;
    border-radius: 50px;
    font-size: 1em;
    height: 3.5em;
    width: 100%;
    padding: 1.2em;
    color: var(--desaturatedRed);
    border: 1px solid var(--desaturatedRed);

}

input:focus {
    border-width: 2px;
    box-shadow: 0px 0px 10px hsla(0, 36%, 70%, 0.5);
    outline: none;
}

input::placeholder {
    color: hsl(0, 36%, 70%);
}



button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
    top: 0;
    right: 0;
    transition: opacity 0.2s ease;
    height: 4.2em;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
}

button:hover {
    opacity: 0.6;
}

.error-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 110px;
}

form.error .error-icon {
    display: block;
}

small {
    color: hsl(0, 93%, 68%);
    display: none;
    margin-top: 15px;
    margin-left: 30px;
}

.bg-mobile {
    display: none;
}

form.error small {
    display: block;
}

.background-image {
    background-image: url('/images/hero-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40%;
}

@media screen and (max-width: 600px) {
    .logo {
        margin: 2em 0;
        width: 100px;
    }

    .bg-mobile {
        display: block;
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        margin-bottom: 5vh;
    }

    .hero-content h1 {

        font-size: 2.9em;
    }

    .hero-content {
        text-align: center;
        width: 100%;
    }

    .background-image {
        display: none;
    }
}